/* =========== RESET CSS =========== */
*, 
*::before, 
*::after {
    box-sizing: border-box;
    font-family: consolas;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    max-width: 100%;
}
/* =========== Custom CSS =========== */
:root {
    --whiteText: white;
    --redText: red;
    --blueText: blue;
    --blackText: black;
    --borderColor: rgba(5, 5, 5, 0.993);
    --bgColor: rgba(0, 0, 0, 0.562);
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
}
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgb(0, 46, 250), black, rgb(0, 46, 250), black, rgb(0, 46, 250), black);
    background-size: 250% 250%;
    animation: change 10s ease-in-out infinite;

}
/* =========== needed for background animation =========== */
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* =========== Header =========== */
.header {
    background-color: var(--windowColor);
    display: flex;
    border-bottom: 5px solid var(--borderColor);
    box-shadow: 2px 2px 5px 2px;
}
.pic {
    width: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--borderColor);
    box-shadow: 2px 2px 5px 2px;
    border-radius: 50%;
}
.title {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    height: 100%;
}
.name {
    text-align: center;
    height: 50%;
    font-size: 84px;
    color: var(--whiteText);
}
.quote {
    text-align: center;
    height: 50%;
    color: var(--whiteText);
}
h2, p {
    color: var(--whiteText);
    overflow-x: hidden;
}
.links {
    font-family: consolas;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 40%;
    flex-wrap: wrap;
}
.link {
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    color: var(--whiteText);
    text-decoration: none;
}
/* =========== Main Section =========== */
.main {
    display: grid;
    grid-template: 15% 85% / 15% 85%;
    grid-template-areas: 
        "aboutMe    aboutText"
        "work       projects";
    height: 100%;
    width: 100%;
}
.aboutMe {
    grid-area: aboutMe;
    background-color: var(--windowColor);
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    padding-top: 38px;
    font-size: 24px;
}
.aboutText {
    grid-area: aboutText;
    background-color: var(--windowColor);
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    display: flex;
    overflow-x: hidden;
    font-size: 18px;
}
.aboutTextP {
    padding: 30px;
}
.work {
    grid-area: work;
    background-color: var(--windowColor);
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    padding-top: 38px;
    font-size: 24px;
}
.projects {
    grid-area: projects;
    background-color: var(--windowColor);
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template: 40% 30% 30% / 50% 50%;
    grid-template-areas: 
        "one    one"
        "two    three"
        "four   five";
    gap: 20px;
    place-items: center;
}
.one, .two, .three, .four, .five {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 75%;
}
.one {
    grid-area: one;
    width: 60%;
}
.two {
    grid-area: two;
    margin-right: -75px;
}
.three {
    grid-area: three;
    margin-left: -75px;
}
.four {
    grid-area: four;
    margin-right: -75px;
}
.five {
    grid-area: five;
    margin-left: -75px;
} 
.picOne, .picTwo, .picThree, .picFour, .picFive {
    border-radius: 30px;
    width: 100%;
    opacity: 0.7;
}
.one:hover img, .two:hover img, .three:hover img, .four:hover img, .five:hover img {
    border: 3px solid var(--hover);
    opacity: 1.0;
}
/* =========== Footer =========== */
.footer {
    grid-area: footer;
    background-color: var(--windowColor);
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
    margin: 15px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
}
.linkMe {
    font-size: 32px;
    color: var(--whiteText);
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
/* =========== Extras =========== */
.link:visited {text-decoration: none;}
.link:active {text-decoration: none;}
.link:hover, .linkMe:hover {color: var(--hover); font-weight: bold;}
.border {
    border: 3px solid var(--borderColor);
    box-shadow: 2px 2px 7px 2px;
    border-radius: 40px;
}